@tailwind base;
@tailwind components;

@font-face {
  font-family: "InterBold";
  src: url("../../public/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "InterMedium";
  src: url("../../public/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "InterRegular";
  src: url("../../public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

.text-h1 {
  font-size: 48px;
  line-height: 60px;
}
@screen md {
  .text-h1 {
    font-size: 64px;
    line-height: 76px;
  }
}

.text-h2 {
  font-size: 30px;
  line-height: 36px;
}

@screen md {
  .text-h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

.text-h3 {
  font-size: 24px;
  line-height: 30px;
}

@screen md {
  .text-h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

.text-h4 {
  font-size: 18px;
  line-height: 24px;
}

@screen md {
  .text-h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

.text-p-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-p-md {
  font-size: 16px;
  line-height: 24px;
}

.text-p-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-p-xl {
  font-size: 12px;
  line-height: 16px;
}

.underline-offset-5 {
  text-underline-offset: 5px;
}

span:after {
  display: inline;
}

@tailwind utilities;
